.sign-up {
    text-align: center;
}

div.form {
    text-align: center;
    display: inline-block;
    width: 500px;

}

.form-signup {
    padding-bottom: 50px;
}

input.form-rounded {
    border-radius: 10em;
    height: 60px;
}

h1.mb-3 {
    margin-top: 80px;
    font-size: 60px;
    margin-right: 140px;
    padding-bottom: 30px;
}

.l {
    padding: 30px;
}

button.sign-up-button {
    padding: 8px 60px 8px 60px;
    margin-top: 30px;
    border-radius: 10rem;
    font-size: 25px;
    background-color: blue;

}

button.sign-up-button:hover{
    color: blue;
    background-color: white;
    border-color: blue;
    border-width: 5px;
}


.social-sign-up {
    margin: 0 50px 0 50px;
}

.list-unstyled {
    padding-top: 10px;
}

.social {
    display: inline-block;
    padding: 0 15px 0 15px;
}

.desk-image {
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
}

@media (max-width: 1290px) {
    .desk-image {
        visibility: hidden;
    }
}